@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*<--header-->*/
.logo {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;

}
.hd_btn {
    margin-left: 110px;
    font-size: 1.1rem;
    font-family: monospace;
}
.bg_nav {
    background: #530707;
}

/*<--main-->*/

.mn_bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(130deg, black, #505050, white);
    margin: 0;
    padding: 0;
}
.logo_ph {
    width: 300px;
    height: 715px;
    background: url(/img/logo.png) 50%/contain no-repeat;
    animation: 3s;
}
.zk_txt {
    text-align: center;
    color: black;
    padding-top: 10px;
    text-shadow: 0 6px 6px black;
}
.zk2_txt {
    color: black;
    margin-top: 10px;
}
.logo2_ph {
    width: 300px;
    height: 715px;
    background: url(/img/logo_2.png) 50%/contain no-repeat;
    animation: 3s;
}
.bleach {
    padding: 30px;
    padding-top: 60px;
}
.bl_zag{
    text-align: center;
    font-family: Acme;
}
.bleach-txt {
    text-align: center;
    padding: 20px;
    font-size: 1.1rem;
}
.bleach_img {
    width: 300px;
    height: 600px;
    background: red;
    background: url(/img/bleach.jpg) 50%/contain no-repeat;
}
.jj {
    display: inline-flex;
}









::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#b10000
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 50px;
border-radius: 50px;
background-color:#cba1ab;
}

::-webkit-scrollbar-thumb:hover{
background-color:rgba(244, 0, 0, 0);
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:2px;
height:0px
}

::-webkit-scrollbar{
width: 3px;
}
