html {
    margin: 0;
    padding: 0;
}

.head {
    height: 100px;
    background: #903939;
    color: azure;
    padding: 0;
}
.logo {
    width: 100px;
    height: 100px;
    margin: 0;
    background: url(/img/logo.png) 50%/contain no-repeat;
}


